@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import '@lifeforge/ui/dist/index.css';

@import 'react-medium-image-zoom/dist/styles.css';

:root {
  --custom-font-scale: 1.1 !important;
}

*:not(code *) {
  font-family: 'Albert Sans', sans-serif;
}

.hljs * {
  font-family: 'JetBrains Mono', monospace;
}

.hljs {
  background: transparent;
}

code {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 0.875em !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
}

@media (min-width: 640px) {
  code {
    font-size: 1em !important;
  }
}

pre code {
  color: var(--color-bg-800) !important;
}

.dark pre code {
  color: var(--color-bg-100) !important;
}

code:not(pre code, h3 code, .commit code) {
  color: var(--color-bg-700);
}

.dark code:not(pre code, h3 code, .commit code) {
  color: var(--color-bg-300);
}

pre,
pre > div *,
code,
pre code * {
  background: transparent !important;
  text-shadow: none !important;
}

::marker {
  color: var(--color-bg-300);
}

.dark ::marker {
  color: var(--color-bg-600) !important;
}

li p:first-of-type {
  margin-top: 0.5em !important;
}

hr + section > h2 {
  margin-top: 1em !important;
}

._alert {
  margin-block: 1.5em;
}

._alert p h4 {
  margin-top: 0.5em !important;
  font-size: 1.25em;
}

._alert p h4 + p {
  margin-top: 1em;
}

._alert p p:first-child {
  margin-top: 0.5em !important;
}
